### Day-1
Data Types

In [ ]:
#predefined functions
type(12.4)

float

In [ ]:
type('string')

str

In [ ]:
type(2)

int

In [ ]:
type('2')

str

In [ ]:
type(1j+2)

complex

In [ ]:
#List
type([1,2,3,4])

list

In [ ]:
datatypes=['int','float','string','list','tuple','dictionary']
print(datatypes)

['int', 'float', 'string', 'list', 'tuple', 'dictionary']

In [ ]:
type((1,2,3,4,5))

tuple

In [ ]:
#dictionary
{'name':'Ram','rollno':123,'age':24}

{'age': 24, 'name': 'Ram', 'rollno': 123}

In [ ]:
type({'name':'Ram','rollno':123,'age':24})

dict

In [ ]:
{'name':'Theertha','rollno':56,'age':22,'College':'BMSIT'}

{'College': 'BMSIT', 'age': 22, 'name': 'Theertha', 'rollno': 56}

In [ ]:
#Print function
print("Hello everyone")

Hello everyone

In [ ]:
#print and storing
#variables and identifiers
str1="hello,This is datascience intership"
print(str1)

hello,This is datascience intership

## **Data operators**

#Python logical operators
1.AND
2.OR
3.NOT

In [ ]:
23<45 and 49!=49

False

In [ ]:
#or opeartor
23<45 or 49!=49

True

In [ ]:
'Theertha'=='theertha'

False

In [ ]:
#not operator
'Theertha'!='theertha'

True

###Pratice

In [ ]:
# do this 
#write the value 12.4 and tell me the output
type(12.4)

float

In [ ]:
# TO do
# Make a list and tuple mentioning each data type
datatypes=['int','float','string','list','tuple','dictionary']
print(datatypes)

['int', 'float', 'string', 'list', 'tuple', 'dictionary']

In [ ]:
#Make a dictionary adding your Name and your basic details
{'name':'Theertha','rollno':56,'age':22,'College':'BMSIT'}

{'College': 'BMSIT', 'age': 22, 'name': 'Theertha', 'rollno': 56}

In [ ]:
# To do 
# You have to print the type of the data and store it.
# MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.
str1="MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment."
print(str1)

MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.

In [ ]:
a = 35
b = 65
# Multiplication
c=a*b
print(c)

2275

In [ ]:
#Division
d=a/b
print(d)

0.5384615384615384

In [ ]:
 f=a//b
print(f)          # Floor division

0

In [ ]:
# Addition
sum=a+b
print(sum)

100

In [ ]:
 exp=a**b
print(exp)          # Exponention

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

###Day 2

Sequences in python
Squences are containers with items that are accessible by the indexing or string.

1.Concatenation
2.Repetation.
3.Membership Testing
4.Slicing
5.Indexing

In [ ]:
li=[5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(li)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
li.append(200)#append
print(li)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 200]

In [ ]:
##insert
li.insert(5,29)
print(li)

[5, 10, 15, 20, 29, 29, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 200]

In [ ]:
##Extend function
ex1 = [1,2,3,4,5,6,7]
ex2 = [4,8,9,10,34]
ex1.extend(ex2)
ex2.extend(ex1)
print("Extended list afer adding ex2ex1")
print(ex2)
print(ex1)

Extended list afer adding ex2ex1
[4, 8, 9, 10, 34, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]
[1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]

In [ ]:
#sum function
print(sum(ex1))

93

In [ ]:
print(sum(ex2))

158

In [ ]:
#count function
count1 = [1,4,6,87,2,2,7,1,6,8,9,3,3,2,1,6,7,9,3,1,6,3,4532]
print(count1.count(2))
print(count1.count(1))

3
4

In [ ]:
# Indexing
In = [6,7,8,9,2,3,4,1]
In.index(3)
In.index(1)

7

In [ ]:
In[3:7]

[9, 2, 3, 4]

In [ ]:
min(In)

1

In [ ]:
max(In)

9

In [ ]:
#pop function
pop1 = [1,2,3,4,5,6,7,8,9]

a=pop1.pop(4)
print(pop1)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
5

In [ ]:
pop1.pop()

9

In [ ]:
#delete function
delete = [2,3,4,5]
del delete[2]
print(delete)

[2, 3, 5]

In [ ]:
# Remove 
remove1 = [2.3,4,3,8,17]
b = remove1.remove(4)
print(remove1)
print(b)

[2.3, 3, 8, 17]
None

In [ ]:
#swapping
x = 23
y = 9

temp = x
x = y
y = temp
print(x)
print(y)

9
23

In [ ]:
x = 23
y = 9
x,y = y,x
print(x)
print(y)

9
23

###String

In [ ]:
name = 'hello iam theertha'
course = 'datascience intership'
print(name)
print(course)

hello iam theertha
datascience intership

In [ ]:
name.capitalize()

'Hello iam theertha'

In [ ]:
name.count("t")

2

In [ ]:
name.find("e")

1

In [ ]:
name.islower()

True

True

In [ ]:
course.isupper()

False

In [ ]:
name = ' hello iam theertha      '
name.strip()

'hello iam theertha'

In [ ]:
a = "Python is a programming language"
a.split("is")

['Python ', ' a programming language']

In [ ]:
b = "Python"
c = "language"

b + " "+ c

'Python language'

In [ ]:
a*3

'Python is a programming languagePython is a programming languagePython is a programming language'

In [ ]:
str1 = 'Hello to the kingdom'
len(str1)

20

In [ ]:
str1[9:12]

'the'

In [ ]:
str1.replace('the','a')

'Hello to a kingdom'

###To DO

In [ ]:
# TO Do 
# You have to make your own list ( all the items are integers)
#You have to insert 37 in 8th index and 2 in 12th index and 5 in 1000 index
li=[10,20,30,40,50,60,70,80,90,100,110,120,130]
print(li)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [ ]:
li.insert(8,37)
print(li)

[10, 20, 30, 40, 50, 60, 70, 80, 37, 37, 37, 37, 90, 100, 110, 120, 130]

In [ ]:
li.insert(12,2)
print(li)

[10, 20, 30, 40, 50, 60, 70, 80, 37, 37, 37, 37, 2, 90, 100, 110, 120, 130]

In [ ]:
li.insert(1000,5)
print(li)

[10, 20, 30, 40, 50, 60, 70, 80, 37, 37, 37, 37, 2, 90, 100, 110, 120, 130, 5]

In [ ]:
#To Do 
#a = 12
#b = 3
# c = 45
#Write a sqapping function where a == c, b ==a, c = b

In [ ]:
a=12
b=3
c=45
print(a)
print(b)
print(c)

12
3
45

In [ ]:
a,b,c=c,a,b
print(a)
print(b)
print(c)

45
12
3

## **Day-3**

Tuple

In [ ]:
this1 = ('mango','banana','orange','kiwi','melon','mango')

In [ ]:
this1[1]

'banana'

In [ ]:
this1[1:3]

('banana', 'orange')

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = ('abe',3,4,'bnh')

tuple3 = tuple1+tuple2

In [ ]:
tuple3

(1, 2, 3, 4, 'abe', 3, 4, 'bnh')

In [ ]:
TU = tuple("Hello",) *3
print(TU)

('H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o')

In [ ]:
Tup = tuple('Hello world')
print(Tup)

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
##tuple unpacking
tuple4=("hello","Good","Evening")
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
Good
Evening

In [ ]:
##dictionary
di={"name":"Theertha","age":22}
print(di)

{'name': 'Theertha', 'age': 22}

In [ ]:
#deleting the key
del di["age"]

In [ ]:
print(di)

{'name': 'Theertha'}

In [ ]:
##adding key values
di["number"]=3456

In [ ]:
di["name"]="Thripthi"

In [ ]:
print(di)

{'name': 'Thripthi', 'number': 3456}

In [ ]:
#poping from a dicitonary

In [ ]:
di.pop("number")

3456

In [ ]:
print(di)

{'name': 'Thripthi'}

In [ ]:
#creating a dictinory
temp=dict(brand="ford",model="s-series",year=1999)
print(temp)

{'brand': 'ford', 'model': 's-series', 'year': 1999}

In [ ]:
#copying  in a dictinary
cp=dict(temp)
print(cp)

{'brand': 'ford', 'model': 's-series', 'year': 1999}

In [ ]:
##nested dictinary
di={'dict1':{1:'get'},'dict2':{'name':'for'}}

In [ ]:
di

{'dict1': {1: 'get'}, 'dict2': {'name': 'for'}}

In [ ]:
di['dict1'][1]

'get'

In [ ]:
##empting dictinary

di.clear()

In [ ]:
print(di)

{}

##loops and conditions

if-else
It is a kind of decision making forum where we can decide wherether to keep that statement or not

In [ ]:
##if-els# If condition to execute ( When the statement is true)
Raining

If it is raning to high:
  Not go

else:
  go

SyntaxError: ignored

In [ ]:
if condition:
  Statement 1 
  stat2

stat3

else :
  stat4

SyntaxError: ignored

In [ ]:
i = 35
if(i<25):
  print("i is less than 25")

print('I am not in if block')

I am not in if block

In [ ]:
i = 5
if(i<25):
  print("i is less than 25")

print('I am not in if block')

i is less than 25
I am not in if block

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
    string = string*3
    print(string)

IndentationError: ignored

In [ ]:
i = 20 
if (i<15):
  print("i is smaller than 15")
  print("I am in if block")

else:
  print("i is greater or equal to 15")
  print("i am in else block ")

i is greater or equal to 15
i am in else block

In [ ]:
#nested if-else
i = 4
if (i == 40):
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:
  print('i is not 40')

i is not 40

##TO-DO

In [ ]:
#to-do
#Create a tuple ('Hello','World')
t=('Hello','World')
print(t)

('Hello', 'World')

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
    string = string*3
    print(string)


 # To - do 
 # Specify what it is doing
 # Also mention and clear errors

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
  string = string*3
  print(string)

  #indentation error
  #check if string is same as the given string or not
  #multiple the string 3 times and store
  #print string

hello
ParadeParadeParade

In [ ]:
# Nested if-else
# add all the comments
i = 4
if (i == 40):#condition here fails so it goes to the else block directly
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:#hence this part will get executed
  print('i is not 40')

i is not 40

###Day-4

In [ ]:
##if-else
if(condition):
  statements.....

elif (conditions):
  statements

else:
  statements

In [ ]:
i=20
if(i==20):
  print('i is equal to 20')
  print('we are in if block')

elif(i==15):
  print('i is 15')
  print('we are i elif-1 block')

elif(i==10):
  print('i is 10')
  print('we are in elif-2 block')

else:
  print(' i is equal to nothing')
  print('i is in else block')

i is equal to 20
we are in if block

In [ ]:
# short hand if - statement
if condition: Statement

In [ ]:
#short-hand code
i=10
if i ==10:print('i is less than 10')

i is less than 10

##For-loop

In [ ]:
##For-loopfor var in iterable:
  # statements

In [ ]:
L = [1,2,3,4,5,6,7]
for var in L:
  print(var)

1
2
3
4
5
6
7

In [ ]:
L = [1,2,3,4,5,6,7]
for var in L:
  print(var)

print(var)

1
2
3
4
5
6
7
7

In [ ]:
l = ['tomato','onion','brinjal']

for i in l:
  for j in i:
    print(i)

tomato
tomato
tomato
tomato
tomato
tomato
onion
onion
onion
onion
onion
brinjal
brinjal
brinjal
brinjal
brinjal
brinjal
brinjal

In [ ]:
l = ['tomato','onion','brinjal']

for i in l:
  for j in i:
    print(j)

t
o
m
a
t
o
o
n
i
o
n
b
r
i
n
j
a
l

In [ ]:
l = ['tomato','onion','brinjal']

for i in l:
  print(i)

tomato
onion
brinjal

In [ ]:
##input methods
s=int(input())
print(type(s))

12345
<class 'int'>

In [ ]:
s = list(input())

123456

In [ ]:
print(type(s))

<class 'list'>

In [ ]:
s = str(input())

for i in s:
  print(i)

world
w
o
r
l
d

In [ ]:
d = dict()
d['a'] = 123
d['b'] = 514

for i in d:
  print(i,d[i])

a 123
b 514

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break

print('current letter', letter)

current letter w

In [ ]:
##break
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    break
  print(letter)

w
h

In [ ]:
##pass function
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    pass
  print(letter)

w
h
e
n
a
r
e
y
o
u
o
l
d

In [ ]:
##continue function
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'r':
    continue
  print(letter)

w
h
n
a
y
o
u
o
l
d

###Range for loop

In [ ]:
list(range(1,10,1)) #list(range(starting point, ending point, iteration))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [10,20,30,40]

for i in range(len(l)):
  print(l[i], end = " ")

print()

10 20 30 40

##while loop

In [ ]:
while expression:
  statement(s)

In [ ]:
count = 0
while ( count< 3):
  count = count + 1
  print('hello')

hello
hello
hello

In [ ]:
count = 0
while ( count< 3):
  count+= 3
  print('hello')

hello

In [ ]:
a = [1,2,3,4]

while a:
  print(a.pop())

4
3
2
1

In [ ]:
##using break
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter h

In [ ]:
##using continue
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

##To-do

In [ ]:
# to-do
#you have to explore if-else short hand code
#else - i is greater than or equal to 10

In [ ]:
i = 10
if i < 10 print('i is less than 10') else print('i is greater than or equal to 10')

SyntaxError: ignored

In [ ]:
i=10
print('i is less than 10') if i<10 else print('i is greater than or equal to 10')

i is greater than or equal to 10

In [ ]:
l = ['tomato','onion','brinjal', 'banana']

for i in l:
  print(i)
# To-do
# I have to replace banana with a mushroom and store it in a new list

tomato
onion
brinjal
banana

In [ ]:
l = ['tomato','onion','brinjal', 'banana']

for i in range(len(l)):
  if l[i]=='banana':
    l[i]='mushroom'

print(l)

['tomato', 'onion', 'brinjal', 'mushroom']

In [ ]:
l = ['tomato','onion','brinjal', 'banana']
li = [i.replace('banana','mushroom') for i in l]
print(li)

['tomato', 'onion', 'brinjal', 'mushroom']

In [ ]:
s = list(input())

123456

In [ ]:
print(s)
# to do 
# come is improvization

['1', '2', '3', '4', '5', '6']

In [ ]:
s = list(input().split())
print(s)

12 23 56
['12', '23', '56']

In [ ]:
# To-do

# perform the sum of first 10 natural numbers
sum=0
for i in range(10):
  sum=sum+i

print(sum)

45

####Day 5-08/03/2022

In [ ]:
##zip code
questions = ['name','color','shape']
answers = ['apple','red','a circle']
for question, answer in zip(questions,answers):
  print('What is your {0}? I am {1}.'.format(question,answer))

What is your name? I am apple.
What is your color? I am red.
What is your shape? I am a circle.

In [ ]:
##map function
a = list(map(int, input().split(' ')))
print(a)

12 34 56
[12, 34, 56]

In [ ]:
print(a)
sum(a)

[12, 34, 56]

102

In [ ]:
def sum(x):
  for i in x:
    summ = summ + i
    return summ

sum(a)

UnboundLocalError: ignored

In [ ]:
##function
Function:
  statement

In [ ]:
def eo(x):
  if (x%2 == 0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(3)

odd

In [ ]:
def square_value(num):
  return num**2

print(square_value(2))

4

In [ ]:
##Lambda Functions
Lambda Functions - 
lambda arguments : Expression

In [ ]:
x = lambda a: a + 5
print(x(22))

27

In [ ]:
def db(n):
  return lambda x:x*n

num_double = db(2)
print(num_double(11))

22

In [ ]:
def db(n):
  return lambda x:x*n

num_double = db(3)
print(num_double(13))

39

In [ ]:
##seperator
print('08','03','2022', sep = '/')

08/03/2022

##To-Do

In [ ]:
n = input().split(' ')
a = list(map(int, n))

# to - do split and strip together in the same line of code.

In [ ]:
list1 = [1,2,6,3,6.4,35.2,'ab',3.5,6,'world',3,4.6,3.3,'city',6,3,2,6,34]
# To - do
# find the sum of the list and remove string data type

###Day-6 10/3/2022

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
# Importing the library

import pandas as pd
import numpy as np

In [ ]:
##series
data = [1,2,3,4,45,6,7,'m']
d = pd.Series(data)
print(d)

0     1
1     2
2     3
3     4
4    45
5     6
6     7
7     m
dtype: object

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd

s1=pd.Series([1,3,4,5,6,2,9])
s2=pd.Series([1.1,3.5,4.7,5.8,2,9,9.3])
s3=pd.Series(['a','b','c','d','e'])

Data={'first':s1,'second':s2,'third':s3}
df=pd.DataFrame(Data)
print(df)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.0     e
5      2     9.0   NaN
6      9     9.3   NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:

df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.tail(2)

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df['C']

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
df.loc[d[0]]

KeyError: ignored

In [ ]:
df.loc[:,]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#From label
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
# From Position 

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >0]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#explore
isnull()
dropna()
fillna()
isna(na)

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

A    2.5
C    1.0
D    5.0
dtype: float64

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','Jupyther','Python',np.nan])

In [ ]:
s.str.upper()

0    EDUCATION
1     JUPYTHER
2       PYTHON
3          NaN
dtype: object

In [ ]:
s.str.lower()

0    education
1     jupyther
2       python
3          NaN
dtype: object

##Day-7 11-03-2022